body > header {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #002970;
  background-image: url("https://www.transparenttextures.com/patterns/white-wall-3-2.png");
}

body > header h2 {
  color: white;
  position: relative;
  bottom: 35px;
}

@media only screen and (min-width: 1024px) {
  body > header {
    width: 30%;
    position: relative;
    top: 60px;
    margin: 75px;
  }
}