body > header {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #002970;
  background-image: url("https://www.transparenttextures.com/patterns/white-wall-3-2.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

body > header h2 {
  color: white;
  position: relative;
  bottom: 35px;
}

@media only screen and (min-width: 1024px) {
  header {
    width: 30%;
    position: absolute;
    top: 25%;
    left: 5%;
  }
}
