html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
}

body>main {
  padding-top: 400px;
  padding-left: 5%;
  width: 95%;
}

@media only screen and (min-width: 1024px) {
  body>main {
    padding-top: 0%;
    padding-left: 45%;
    width: 90%;
    margin-top: 4%;
  }
}