.tweet-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.tweet {
  position: relative;
  left: 8px;
  padding: 20px;
  border-style: solid;
  border-width: 5px;
  margin: 15px;
  height: 250px;
}

.tweet-header img {
  max-width: 8%;
  height: auto;
}

.tweet-header .username {
  position: relative;
  left: 70px;
  bottom: 70px;
}

.tweet-header .handle {
  color: #42aaf5;
  position: relative;
  bottom: 130px;
  left: 630px;
}

.tweet .tweet-content {
  position: relative;
  left: 20px;
  bottom: 115px;
}

.tweet .tweet-footer {
  position: relative;
  bottom: 80px;
  font-size: 16px;
  border-top: 5px solid;
}

.tweet-footer .date-created {
  position: relative;
  bottom: 10px;
  left: 20px;
}

.tweet-footer .flag {
  position: relative;
  bottom: 45px;
  left: 650px;
}

.tweet-footer .retweet {
  position: relative;
  bottom: 81px;
  left: 670px;
}

.tweet-footer .heart {
  position: relative;
  bottom: 117px;
  left: 690px;
}

.tweet:hover {
  box-shadow: 10px 10px 2px 1px #42aaf5;
}

@media only screen and (min-width: 1024px) {
  .tweet-container {
    width: 45vw;
    position: relative;
    left: 44%;
    bottom: 430px;
  }

  .tweet-header {
    position: relative;
    top: 10px;
  }

  .tweet-header .username {
    position: relative;
    bottom: 10010px;
  }

  .tweet-footer {
    position: relative;
    bottom: 500px;
  }
}